{% extends "base.html" %}
{% load static %}

(% block title %)
All My Posts


{% block css_files %}
  <link rel="stylesheet" href="{% static 'post.css' %}" />
  <link rel="stylesheet" href="{% static 'all-posts.css'%}" />\
{% endblock %}

{% block content %}
<section id="all-posts">
  <h2>My Collected Posts</h2>
  <ul>
    {% include "includes/post.html" %}
    {% include "includes/post.html" %}
    {% include "includes/post.html" %}
    {% include "includes/post.html" %}
    {% include "includes/post.html" %}
    {% include "includes/post.html" %}
  </ul>
</section>
{% endblock %}
