{% extends "base.html" %}
{% load static %}


(% block title %)
{{ post.title }}


{% block css_files %}
  <link rel="stylesheet" href="{% static 'post-detail.css'%}" />\
{% endblock %}

{% block content %}
  <section id="summery">
    <h2>{{ post.title }}</h2>
    <article>
      <img src="{% static 'images/hiking.jpg'%}" alt="Post Title">
      <address>{{ post.author }}</address>
      <div>
        last updated on <time>{{ post.date| date:"d M Y" }}</time>
      </div>
    </article>
  </section>

  <main>
      {{ post.content|linebreaks }}
  </main>

{% endblock %}